<div class="owner">
  <div class="top-wrapper">
    <%= image_tag "/assets/owner_top3.jpeg", class:"owner_top" %>
    <div class="container">
      <h1>Owners Site.</h1>
      <h1>Happiness is the secret to all beauty.</h1>
      <p>お客様に寄り添ったサービスを</p>
      <p>女の子たちが少しでも使いやすいと思えるシステム開発や効率化を考え、顧客目線を大切にしていきたい。</p>
    </div>
  </div>
  <div class="owner-list-title">
    <h3 class="owner-title">確認項目</h3>
    <div class="list-check">
      <ul class="box-list">
        <li><%= link_to image_tag("check_box1.png", class:"box1"), new_item_path %></li>
        <li><%= link_to image_tag("check_box2.png", class:"box2"), "#" %></li>
        <li><%= link_to image_tag("check_box3.png", class:"box3"), "#" %></li>
      </ul>
    </div>
  </div>
</div>
