.main {
  background: #fce5cd5d;
  font-family: 'Vollkorn', serif;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {
  width: 750px;
  height: 500px;
  margin-left: 100px;
  display: flex;
  overflow: hidden;
}

.slider li {
   width:500%;
   height: 500px;
   display: flex;
}


/*==================================================
スライダーのためのcss
===================================*/



a {
  text-decoration: none;
}

.contents-products {
  margin: 0;
  padding: 0;
  height: 200vh;
  padding-bottom: 60px;
  background: #fce5cd5d;
  font-family: 'Vollkorn', serif;

}

article, aside, figure, figcaption, footer, header, section, main {
  display: block;
}

// 
.contents-products .contents-sub {
  float: left;
  width: 270px;
  margin-left: 20px;
  margin-top: -200px;
}
// 商品一覧
.sec-cmn-02 {
  margin-bottom: 30px;
  margin-right: 250px;
  margin-left: 280px;
  position: relative;
  width: 65%;
}
.ta-center .mt-20{
  position: absolute;
  
}

.btn-cmn-01{
  border: 1px solid #f7c49e;
  background-color: #f7c49e;
  border-radius: 5px;
  padding: 7px;
  font-size: 11px;
  color: #fff;
  box-shadow: 0 5px #fce5cd93;
  margin-left: 340px;
}

.btn-cmn-01:active{
  position: relative;
  top: 5px;
  box-shadow: none;
}

.ttl-cmn-02 {
  margin-bottom: 15px;
  line-height: 1;
  text-align: center;
}


.ttl-cmn-02 .txt-en {
  display: block;
  font-size: 2.3rem;
}

.list-products-01 {
  display: flex;
  flex-wrap: wrap;
  margin: -30px -15px 1px 0px;
}
//
.list-products-01>.list {
  width: 25vh;
  padding: 1vw;
  background-color: #fce5cd00;
  margin-right: 50px;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 21vh;
  height: 25vh;
}

.item-info {
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.heart-btn {
  display: flex;
  align-items: center;
}

.heart-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.2vw;
}


//

ul {
  list-style: none;
}

.list-products-01 > li {
  width: 20%;
  margin-top: 34px;
  padding: 0 10px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.card-product-01 {
  position: relative;
  cursor: pointer;
  margin-left: 50px;
}

.box-link {
  display: block;
  text-decoration: none;
}

.box-image {
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
  width: 120px;
  height: 160px;
}

figure {
  margin-block-start: 3em;
  margin-block-end: 3em;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
}

.box-image img {
  display: block;
  width: 100%;
}

img {
  border: 0;
  height: auto;
  vertical-align: top;
}

.txt-name {
  font-size: 1rem;
  line-height: 1.66;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.txt-price {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4;
}