.main {
  background: #fce5cd5d;
  font-family: "Roboto", "游ゴシック体", "Yu Gothic", "游ゴシックMedium", "Yu Gothic Medium", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "Hiragino Sans", "メイリオ", "Meiryo", sans-serif;
  margin: 0;
  padding: 0;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*==================================================
スライダーのためのcss
===================================*/

.slider {
  width: 700px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}


.sliders {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 50%;
  transition: 2s;
}

.slide img {
  width: 700px;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 700px;
  margin-top: -30px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}


/*==================================================
スライダーのためのcss
===================================*/



a {
  text-decoration: none;
}

.contents-products {
  margin: 0;
  padding: 0;
  height: 200vh;
  // width: 1000px;
  padding-bottom: 60px;
  background: #fce5cd5d;
  font-family: "Roboto", "游ゴシック体", "Yu Gothic", "游ゴシックMedium", "Yu Gothic Medium", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "Hiragino Sans", "メイリオ", "Meiryo", sans-serif;

}

article, aside, figure, figcaption, footer, header, section, main {
  display: block;
}

* {
  box-sizing: border-box;
}

.contents-products .contents-sub {
  float: left;
  width: 250px;
  margin-left: 30px;
  margin-top: -400px;
}

/*==================================================
タブメニューのためのcss
===================================*/
.nav-local .ttl-nav {
  padding: 13px 0px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #A2A2A2;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4;
  margin-top: 400px;
  margin-left: 60px;
  color: #f7c49e;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style: none;
}
.nav-local .list-nav-main {
  height: 2rem;
}

.nav-local .list-nav-main > li {
  position: relative;
  border-bottom: 1px solid #A2A2A2;
  margin: 13px 40px;
}

.nav-local .list-nav-main li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.nav-local .list-nav-main .btn-nav-main {
  position: relative;
  display: block;
  padding: 7px 0;
  font-size: 1.4rem;
  line-height: 1.4;
  text-decoration: none;
}

a {
  color: #3B3B3B;
}

.list-nav-main li li {
  height: 0;
  overflow: hidden;
  transition: .5s;
  width: 180px;

}

.list-nav-main li li a {
  border-top: 1px solid #eee;
}

.list-nav-main li:hover > ul > li {
  height: 2rem;
  overflow: visible;

}

// .list-nav-main > li > ul:before{
//   /*リストに「▶︎」を付ける*/
// .gnav > li > ul:before{/*子階層*/
//   border: 5px solid transparent;
//   border-top: 5px solid #fff;
//   content: "";
//   right: 1rem;
//   position: absolute;
//   top: 1rem;
//   transform: translateY(-40%);
// }
// }
// .list-nav-main li ul li ul:before {/*孫階層*/
//   border: 5px solid transparent;
//   border-left: 5px solid #fff;
//   content: "";
//   left: -20px;
//   position: absolute;
//   top: 1em;
//   transform: translateY(-50%);
// }
// .list-nav-main li:nth-child(5) ul li ul:before {/*一番右のメニューの孫階層*/
//   border: 5px solid transparent;
//   border-top: 5px solid #fff;
//   content: "";
//   right: 1rem;
//   position: absolute;
//   top: 1rem;
//   transform: translateY(-40%);
// }

// .list-nav-main.list-nav-main li ul li ul:before {
//   border: 5px solid transparent;
//   border-left: 5px solid #fff;
//   content: "";
//   left: -20px;
//   position: absolute;
//   top: 1em;
//   transform: translateY(-50%);
// }

// .list-nav-main li:nth-child(5) ul li ul:before {
//   border: 5px solid transparent;
//   border-right: 5px solid #fff;
//   left: auto;
//   right: -20px;
// }


/*==================================================
タブメニューのためのcss
===================================*/
.sec-cmn-02 {
  margin-bottom: 30px;
  margin-right: 240px;
  margin-left: 280px;
}

.ttl-cmn-02 {
  margin-bottom: 15px;
  line-height: 1;
  text-align: center;
}


.ttl-cmn-02 .txt-en {
  display: block;
  font-size: 2.3rem;
}

.list-products-01 {
  display: flex;
  flex-wrap: wrap;
  margin: -34px -10px 0;
}

ul {
  list-style: none;
}

.list-products-01 > li {
  width: 20%;
  margin-top: 34px;
  padding: 0 10px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.card-product-01 {
  position: relative;
  cursor: pointer;
  margin-left: 50px;
}

.box-link {
  display: block;
  text-decoration: none;
}

.box-image {
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
  width: 120px;
  height: 160px;
}

figure {
  margin-block-start: 3em;
  margin-block-end: 3em;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
}

.box-image img {
  display: block;
  width: 100%;
}

img {
  border: 0;
  height: auto;
  vertical-align: top;
}

.txt-name {
  font-size: 1rem;
  line-height: 1.66;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.txt-price {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4;
}