/* 商品の概要 */

.item-show {
  background-color: #fce5cd5d;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 5vh 0;
  align-items: center;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 10vw;
  display: flex;
  /* flex-direction: column; */
}

.item-box-img {
  height: 50vh;
  width: 35vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.item-txt-content{
  margin-left: 30px;
}
.item-txt-content>.name {
  font-weight: bold;
  font-size: 26px;
  /* margin-left: 20px; */
}

.item-price-box {
  align-items: flex-start;
}

.item-price-box>.item-price {
  font-size: 20px;
  font-weight: bold;
}

.item-box2 {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 5vw;
  /* flex-direction: column; */
}
.choose-btn{
  display: flex;
  border-bottom: 1px solid black;
}
.item-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 17px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 1vh 3vw;
}

.or-text {
  font-size: 16px;
  margin: 30px 10px;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 17px;
  color: black;
  margin: 20px 0px;
  padding: 1vh 3vw;
}

.item-explain-box {
  font-size: 15px;
  margin: 40px 0px;
  overflow-wrap: anywhere;
  border-top: 1px solid black;
  padding-top: 20px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

/* 商品サイズ・カート・お気に入り */

/* 商品サイズ・カート・お気に入り */