.login-btn {
  width: 50%;
  margin-top: 50px;
  margin-left: 60px;
}

.login-red-btn {
  width: 100%;
  min-width: 260px;
  padding: 16px 10px;
  border-radius: 7px;
  background-color: #f7c49e;
  border: 1px solid transparent;
  font-size: 1.5rem;
  line-height: 1;
  color: white;
  text-align: center;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}